/*-- scss:defaults --*/
/*-- scss:rules --*/
/* global layout styles */
/* helpful for docs with no header space
.cr-section .narrative-col > *:first-child {
  padding-block-start: 10svh !important;
}
*/
.cr-section {
  display: grid;
  grid-template-rows: 1fr;
  background-color: var(--cr-section-background-color);
}
.cr-section.cr-column-screen {
  grid-column: screen-start/screen-end !important;
  z-index: 998;
  opacity: 0.999;
}
.cr-section .narrative-col {
  grid-row: 1;
  font-family: var(--cr-narrative-font-family);
  font-size: var(--cr-narrative-font-size);
}
.cr-section .narrative-col .trigger {
  padding-block: 45svh;
  padding-inline: 24px;
}
.cr-section .narrative-col .trigger .narrative {
  padding: 0.7em 0.75em;
}
.cr-section .narrative-col .trigger .narrative > p {
  margin-bottom: 0;
}
.cr-section .narrative-col .trigger:has(.cr-spacer) {
  visibility: hidden;
  padding-block: 0;
}
.cr-section .sticky-col {
  grid-row: 1;
}
.cr-section .sticky-col .sticky-col-stack {
  display: grid;
  height: 100dvh;
  position: sticky;
  overflow: hidden;
  top: 0;
}
.cr-section .sticky-col .sticky-col-stack .sticky {
  grid-area: 1/1;
  margin: auto;
  opacity: 0;
  transition: opacity linear 0.5s, color 0.7s linear, transform 1s ease-in-out, transform-origin 1s ease-in-out;
}
.cr-section .sticky-col .sticky-col-stack .sticky:has(.line-block) {
  font-family: var(--cr-poem-font-family);
  transition: transform 0.8s ease-in-out;
}
.cr-section .sticky-col .sticky-col-stack .sticky:has(.line-block) {
  font-family: var(--cr-poem-font-family);
  transition: transform 0.8s ease-in-out, font-size 0.8s ease-in-out;
}
.cr-section .sticky-col .sticky-col-stack div.sourceCode {
  background-color: rgb(233, 236, 239);
}
.cr-section .sticky-col .sticky-col-stack .cr-active {
  opacity: 1;
}
.cr-section .sticky-col .sticky-col-stack .cr-active.cr-hl-within .sourceCode span[id^=cb] {
  opacity: 0.3;
  transition: opacity linear 0.3s;
}
.cr-section .sticky-col .sticky-col-stack .cr-active.cr-hl-within .sourceCode span[id^=cb].cr-hl {
  opacity: 1;
  transition: opacity linear 0.3s;
}
.cr-section .sticky-col .sticky-col-stack .cr-active.cr-hl-within div.line-block span[id^=lb] {
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.7s linear;
}
.cr-section .sticky-col .sticky-col-stack .cr-active.cr-hl-within div.line-block span[id^=lb].cr-hl {
  color: rgb(0, 0, 0);
  transition: color 0.7s linear;
}
.cr-section .sticky-col .sticky-col-stack .cr-active.cr-hl-within div.line-block span[id^=lb] span.cr-hl {
  color: rgb(0, 0, 0);
  transition: color 0.7s linear;
}

/* mobile sizing (bootstrap: xs) is always overlay-center */
@media (max-width: 575.98px) {
  .cr-section.sidebar-left,
  .cr-section.sidebar-right,
  .cr-section.overlay-left,
  .cr-section.overlay-right,
  .cr-section.overlay-center {
    grid-template-columns: 1fr;
  }
  .cr-section.sidebar-left .narrative-col,
  .cr-section.sidebar-right .narrative-col,
  .cr-section.overlay-left .narrative-col,
  .cr-section.overlay-right .narrative-col,
  .cr-section.overlay-center .narrative-col {
    grid-column: 1;
    z-index: 1;
    margin-inline: auto;
    background-color: transparent;
  }
  .cr-section.sidebar-left .narrative-col .narrative,
  .cr-section.sidebar-right .narrative-col .narrative,
  .cr-section.overlay-left .narrative-col .narrative,
  .cr-section.overlay-right .narrative-col .narrative,
  .cr-section.overlay-center .narrative-col .narrative {
    background-color: var(--cr-narrative-background-color-overlay);
    color: var(--cr-narrative-text-color-overlay);
    padding: 0.3em 0.5em;
    border-radius: var(--cr-narrative-border-radius);
  }
  .cr-section.sidebar-left .sticky-col,
  .cr-section.sidebar-right .sticky-col,
  .cr-section.overlay-left .sticky-col,
  .cr-section.overlay-right .sticky-col,
  .cr-section.overlay-center .sticky-col {
    grid-column: 1;
  }
}
.overlay-left,
.overlay-center,
.overlay-right {
  grid-template-columns: 1fr;
}
.overlay-left .narrative-col,
.overlay-center .narrative-col,
.overlay-right .narrative-col {
  grid-column: 1;
  z-index: 1;
  transition: opacity 0.5s ease-in-out;
  max-width: var(--cr-narrative-overlay-max-width);
  min-width: var(--cr-narrative-overlay-min-width);
}
.overlay-left .narrative-col .narrative,
.overlay-center .narrative-col .narrative,
.overlay-right .narrative-col .narrative {
  background-color: var(--cr-narrative-background-color-overlay);
  color: var(--cr-narrative-text-color-overlay);
  border-radius: var(--cr-narrative-border-radius);
}
.overlay-left .sticky-col,
.overlay-center .sticky-col,
.overlay-right .sticky-col {
  grid-column: 1;
}

.overlay-left .narrative-col {
  justify-self: start;
  margin-left: var(--cr-narrative-outer-margin);
}

.overlay-center .narrative-col {
  justify-self: center;
}

.overlay-right .narrative-col {
  justify-self: end;
  margin-right: var(--cr-narrative-outer-margin);
}

.sidebar-left {
  grid-template-columns: var(--cr-narrative-sidebar-width) 2fr;
}
.sidebar-left .narrative-col {
  grid-column: 1;
  margin-inline: 0;
  background-color: var(--cr-narrative-background-color-sidebar);
}
.sidebar-left .narrative-col .narrative {
  padding: 0 0.75em;
  color: var(--cr-narrative-text-color-sidebar);
}
.sidebar-left .sticky-col {
  grid-column: 2;
}

.sidebar-right {
  grid-template-columns: 2fr var(--cr-narrative-sidebar-width);
}
.sidebar-right .narrative-col {
  grid-column: 2;
  margin-inline: 0;
  background-color: var(--cr-narrative-background-color-sidebar);
}
.sidebar-right .narrative-col .narrative {
  padding: 0 0.75em;
  color: var(--cr-narrative-text-color-sidebar);
}
.sidebar-right .sticky-col {
  grid-column: 1;
}

.presentation-mode.overlay-left,
.presentation-mode.overlay-center,
.presentation-mode.overlay-right,
.presentation-mode.sidebar-left,
.presentation-mode.sidebar-right {
  grid-template-columns: 1fr !important;
}
.presentation-mode.overlay-left .narrative-col,
.presentation-mode.overlay-center .narrative-col,
.presentation-mode.overlay-right .narrative-col,
.presentation-mode.sidebar-left .narrative-col,
.presentation-mode.sidebar-right .narrative-col {
  grid-column: 1 !important;
  z-index: 1 !important;
  margin-inline: 30% !important;
  opacity: 0 !important;
  transition: opacity 0.5s ease-in-out;
}
.presentation-mode.overlay-left .sticky-col,
.presentation-mode.overlay-center .sticky-col,
.presentation-mode.overlay-right .sticky-col,
.presentation-mode.sidebar-left .sticky-col,
.presentation-mode.sidebar-right .sticky-col {
  grid-column: 1 !important;
}

/* debug styles */
body.cr-debug .cr-poem {
  background-color: rgba(255, 255, 0, 0.6);
  border: 1px solid orange;
}
body.cr-debug .sticky {
  opacity: 0.8;
}
body.cr-debug .narrative-col .trigger {
  background: rgba(0, 208, 255, 0.5);
  border: 1px solid orange;
  border-radius: var(--cr-narrative-border-radius);
}
body.cr-debug .narrative-col .trigger.new-trigger {
  background: lightgreen;
}

/* remove header option */
body.cr-removeheaderspace #quarto-content main#quarto-document-content {
  padding-top: 0;
  margin-top: 0;
}
body.cr-removeheaderspace #quarto-content main#quarto-document-content .quarto-title-block {
  display: none;
}

/* configurable style variables. use bootstrap variables where possible */
:root {
  --cr-narrative-background-color-overlay: #708090e1;
  --cr-narrative-text-color-overlay: white;
  --cr-narrative-background-color-sidebar: transparent;
  --cr-narrative-text-color-sidebar: black;
  --cr-narrative-border-radius: 1em;
  --cr-narrative-overlay-max-width: 527.98px;
  --cr-narrative-overlay-min-width: none;
  --cr-narrative-outer-margin: 5%;
  --cr-narrative-font-family: var(--bs-body-font-family);
  --cr-narrative-font-size: 1.15rem;
  --cr-poem-font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --cr-narrative-sidebar-width: 1fr;
  --cr-section-background-color: lightgrey;
}

/*# sourceMappingURL=closeread.css.map */
