
/*-- scss:defaults --*/


/*-- scss:rules --*/

/* global layout styles */

/* helpful for docs with no header space
.cr-section .narrative-col > *:first-child {
  padding-block-start: 10svh !important;
}
*/

.cr-section {
  display: grid;
  grid-template-rows: 1fr;

  .narrative-col {
    grid-row: 1;

    .trigger {
      padding-block: 45svh;
      padding-inline: 1em;

      p {
        margin-bottom: 0; // override bootstrap rule
      }
    }
  }

  .sticky-col {
    grid-row: 1;

    // using a grid to stack sticky elements on top of each other to then
    // transition through (based on reveal's .r-stack)
    .sticky-col-stack {
      display: grid;
      height: 100dvh;
      position: sticky;
      overflow: hidden;
      top: 0;

      .sticky {
        grid-area: 1 / 1;
        margin: auto;

        // to be overruled when it is the active element
        opacity: 0;

        transition:
          opacity linear 0.5s,
          color .7s linear,
          transform 1s ease-in-out,
          transform-origin 1s ease-in-out;
      }
      
      .sticky.cr-poem {
        transition:
          transform .8s ease-in-out;
      }
      
      .sticky.cr-poem2 {
        transition:
          transform .8s ease-in-out,
          font-size .8s ease-in-out;
      }

      // show active stickies
      .cr-active {
        opacity: 1;
        
        // -- Code Blocks -- //
        // if the code cell contains highlighted code, dim it
        &.cr-hl-within .sourceCode span[id^="cb"] {
          opacity: .3;
          
          transition:
            opacity linear 0.3s;
          
          // while keeping the highlighted lines bright
          &.cr-hl{
            opacity: 1;
            
            transition:
            opacity linear 0.3s;
          }
        }
        
        // -- Line Blocks -- //
        // if the line block contains highlighted lines, lighten text
        &.cr-hl-within div.line-block span[id^="lb"]{
          color: rgba(0, 0, 0, 0.4);
          
          transition: color .7s linear;
          
          // while keeping the highlighted lines black
          &.cr-hl{
            color: rgba(0, 0, 0, 1);
            
            transition: color .7s linear;
          }
          
          // as well as any spans
          span.cr-hl{
            color: rgba(0, 0, 0, 1);
            
            transition: color .7s linear;
          }
        }
      }
    }
  }
}


/* mobile sizing (bootstrap: xs) is always overlay-center */
//@media (max-width: 575.98px) {
@media (max-width: 575.98px) {
  .cr-section.sidebar-left,
  .cr-section.sidebar-right,
  .cr-section.overlay-left,
  .cr-section.overlay-right,
  .cr-section.overlay-center {
    grid-template-columns: 1fr;
    
    .narrative-col {
      grid-column: 1;
      z-index: 1;
      margin-inline: auto;
      
      .narrative {
        background-color: rgba(17, 17, 17, .85);
        color: white;
        padding: 5px;
        border-radius: 5px;
      }
    }

    .sticky-col {
      grid-column: 1;
    }
  }
}

// layouts for wider-than-mobile sizing

// overlay layouts use one column...
.overlay-left,
.overlay-center,
.overlay-right {
  grid-template-columns: 1fr;

  .narrative-col {
    grid-column: 1;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
    
    .narrative {
      background-color: rgba(17, 17, 17, .85);
      color: white;
      padding: 5px;
      border-radius: 5px;
    }
  }

  .sticky-col {
    grid-column: 1;
  }
}

// ... with inline margins set for narrative content depending on side
.overlay-left {
  .narrative-col {
    margin-inline-start: 5%;
    margin-inline-end: 65%;
  }
}
.overlay-center {
  .narrative-col {
    margin-inline: 30%;
  }
}
.overlay-right {
  .narrative-col {
    margin-inline-start: 65%;
    margin-inline-end: 5%;
  }
}


// sidebar layouts use two columns
.sidebar-left {
  grid-template-columns: 1fr 2fr;

  .narrative-col {
    grid-column: 1;
    margin-inline: 0;
  }

  .sticky-col {
    grid-column: 2;
  }
}
.sidebar-right {
  grid-template-columns: 2fr 1fr;

  .narrative-col {
    grid-column: 2;
    margin-inline: 0;
  }

  .sticky-col {
    grid-column: 1;
  }
}

// presentation-mode overrides layouts when its added alongside
.presentation-mode.overlay-left,
.presentation-mode.overlay-center,
.presentation-mode.overlay-right,
.presentation-mode.sidebar-left,
.presentation-mode.sidebar-right {
  grid-template-columns: 1fr !important;
  
  .narrative-col {
    grid-column: 1 !important;
    z-index: 1 !important;
    margin-inline: 30% !important;
    opacity: 0 !important;
    transition: opacity 0.5s ease-in-out;
  }
  
  .sticky-col {
    grid-column: 1 !important;
  }
}


/* poem styles */

.cr-poem {

  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  
  /* need large font to stop safari text blurriness, but max-height to stop
   other stickies from being pushed down by pre-scaled poem size */
  max-height: 100dvh; 
  font-size: 300%;

  white-space: pre;
  line-height: .7em;
  
  // transform transition is applied along with all stickies
  transform-origin: center center;

  // fade the rest of the poem out when there's a highlight active
  &.cr-hl-within {
    color: rgba(0, 0, 0, 0.4);
  }

  .cr-hl {
    color: rgba(0, 0, 0, 1);
  }
}

.cr-poem2 {

  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  
  // size the poem to fit the screen
  max-height: 100svh;
  max-width: 100svh;
  
  // maybe this can be overridden with lua
  font-size: 2.75cqmin;

  white-space: pre;
  line-height: .6em;
  
  // transform transition is applied along with all stickies
  transform-origin: center center;

  // fade the rest of the poem out when there's a highlight active
  &.cr-hl-within {
    color: rgba(0, 0, 0, 0.4);
    // when there's a highlight, we only want to scale based on width!
    font-size: 2.75cqi;
  }

  .cr-hl {
    color: rgba(0, 0, 0, 1);
  }
}


/* debug styles */

body.cr-debug {
  
  // give stickies borders
  .cr-poem {
    background-color: #ffff0099;
    border: 1px solid orange;
  }
  
  // make stickies slightly see-through
  .sticky {
    opacity: 0.8;
  }

  // narrative content and scroll zone debug styles
  .narrative-col {
    .trigger {
      background: rgba(0, 208, 255, 0.5);
      border: 1px solid orange;
      border-radius: 5px;
      
      &.new-trigger {
        background: lightgreen;
      }
    }   
  }

}

/* remove header option */

body.cr-removeheaderspace {
  #quarto-content {
    main#quarto-document-content {
      padding-top: 0;
      margin-top: 0;
  
      .quarto-title-block {
        display: none;
      }
    }
  }

}